<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="ModeratorHeader">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/moderator">Лермонтовка</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link active" th:href="@{/moderator}">Новости</a>
          <a class="nav-item nav-link active" th:href="@{/moderator/create}">Создать новость</a>
        </div>
      </div>
    </div>
  </nav>
</div>